In [1]:
# tuple sets and dictionary
t1=()

In [2]:
print(t1)

()

In [21]:
t2=(1,2,3,4)
t3=t2
t2=t2 +(6,)
print(t2)
print(t3)

(1, 2, 3, 4, 6)
(1, 2, 3, 4)

In [14]:
t=('dyal',"sd","python")
print (t.count('dyal'))

1

In [15]:
import sys
l=list(range(1000))
t=tuple(range(1000))
print(sys.getsizeof(l))
print(sys.getsizeof(t))

8056
8040

In [22]:
a=1
b=4
a,b=b,a
print(a,b)

4 1

In [54]:
#set 
s={1,2,3,4}
t={1,2,3}
s.union(t)
s.update(t)
print(s)
print(t)

{1, 2, 3, 4}
{1, 2, 3}

In [35]:
s3 = [1,'hello',4.5,1,2,3]
print(set(s3))

{'hello', 1, 2, 3, 4.5}

In [58]:
fs=frozenset([1,2,frozenset([3,4])])
print(fs)

frozenset({frozenset({3, 4}), 1, 2})

In [7]:
#dictiona
d=dict([(1,2)])
print(d)

{1: 2}

In [9]:
my_dict = {'name': 'Jack', 'age': 26}
my_dict.get('age')

26

In [11]:
d4 = dict([('name','nitish'),('age',32),(3,3)])
d4['gender']='male'
d4

{'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male'}

In [16]:
d4.clear()

In [17]:
print(d4)

{}

In [19]:
s = {
    'name':'nitish',
     'college':'bit',
     'sem':4,
     'subjects':{
         'dsa':50,
         'maths':67,
         'english':34
     }
}
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 50, 'maths': 67, 'english': 34}}

In [20]:
print(s)

{'name': 'nitish', 'college': 'bit', 'sem': 4, 'subjects': {'dsa': 50, 'maths': 67, 'english': 34}}

In [22]:
'name' in s

True

In [23]:
d = {'name':'nitish','gender':'male','age':33}

for i in d:
  print(i,d[i])

name nitish
gender male
age 33

In [24]:
len(d)

3

In [25]:
sorted(d)

['age', 'gender', 'name']

In [29]:
d.update()

dict_values(['nitish', 'male', 33])

In [30]:
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
()

In [34]:
days = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]
{i:j for (i,j) in zip(days,temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [3]:
{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}

In [2]:
{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}